In [1]:
name = input("What is your name? ")
print(name)

What is your name? Sadgi Jakhar
Sadgi Jakhar

In [2]:
old_age = int(input("Enter your Old age: "))
new_age = old_age + 2
print(new_age)

Enter your Old age: 18
20

In [3]:
float()

float(18)

18.0

In [4]:
str()

str(12)

'12'

In [5]:
bool()
bool(0)

False

In [6]:
first = input("enter first number: ")
second = input("enter second number: ")
sum = int(first) + int(second)
print("The sum is",sum)

enter first number: 3
enter second number: 2
The sum is 5

In [7]:
name = "Tony Stark"
name.upper()

'TONY STARK'

In [8]:
name.lower()

'tony stark'

In [9]:
name.title()

'Tony Stark'

In [12]:
name.capitalize()   #captial

# help(str)

'Tony stark'

In [13]:
print(name.find(('S')))
print(name.find('stark'))

5
-1

In [14]:
name = name.replace("Tony Stark","Sadgi Jakhar")

In [15]:
name

'Sadgi Jakhar'

In [16]:
name.replace("Jakhar","Ahlawat")

'Sadgi Ahlawat'

In [17]:
name

'Sadgi Jakhar'

In [18]:
'S' in name

True

In [19]:
's' in "name"

False

Operators

1) Arthmetic Operator
    +, -, /, *, %, //
    
2) logical Operator
    OR, AND, NOT
    
3) Comparision Operator
    ==, < , >, <=, >=
    
4) Membership Opertor
    in, not in
    
5) Assignment Operator
    =
    
6) Identity Operator
    is, is not
    
7) Shift Operator
    >>, <<

In [23]:
# IF ELSE Condition

age = 19
if age > 19:
    print("Bigger than Exception")
elif age < 19:
    print("Smaller Than Exception")
else:
    print("Exactly Same")

Exactly Same

In [25]:
first = int(input("Enter the number: "))
o = input("choose one + - / ^ * %: ")
second = int(input("Enter the number: "))
if o == '+':
    print(first + second)
if o == '-':
    print(first - second)
if o == '*':
    print(first * second)
if o == '/':
    print(first / second)
if o == '%':
    print(first % second)
if o == '^':
    print(first ** second)

Enter the number: 4
choose one + - / ^ * %: *
Enter the number: 4
16

In [27]:
# range
numbers = range(5)
print(numbers)

range(0, 5)

In [31]:
for i in range(0,101,10):
    print(i)

0
10
20
30
40
50
60
70
80
90
100

In [37]:
i = 0
while (i < 50):
    print(i*"*")
    i+=1
while(i>=0):
    print(i*"*")
    i-=1

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************
*************************
**************************
***************************
****************************
*****************************
******************************
*******************************
********************************
*********************************
**********************************
***********************************
************************************
*************************************
**************************************
***************************************
****************************************
*****************************************
******************************************
*******************************************
********************************************
*********************************************
**********************************************
***********************************************
************************************************
*************************************************
**************************************************
*************************************************
************************************************
***********************************************
**********************************************
*********************************************
********************************************
*******************************************
******************************************
*****************************************
****************************************
***************************************
**************************************
*************************************
************************************
***********************************
**********************************
*********************************
********************************
*******************************
******************************
*****************************
****************************
***************************
**************************
*************************
************************
***********************
**********************
*********************
********************
*******************
******************
*****************
****************
***************
**************
*************
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

# List 
-> It is the collection of data type which store value of every datatype separated by comma inclosed in square bracket.

1) append -> list.append(x)

2) insert -> list.insert(index,value)

3) extend -> list.extend([value , ....])

4) clear -> list.clear()

5) remove -> list.

6) delete -> list.

In [1]:
# BREAK AND CONTINUE

students = ["ram","shyam","kishan","radha","radhika"]
for i in students:
    if i == "radha":
        break;
    else:
        print(i)

ram
shyam
kishan

In [2]:
for i in students:
    if i == "radha":
        continue;
    else:
        print(i)

ram
shyam
kishan
radhika

# Tuple -> 
Tuple is immutable type data structure which use to store data in between paranthesis separted by comma.

1) tuple.count(value)

2) tuple.index(value)

3) len(marks)

In [5]:
marks = (95,97,97)
marks.count(94)

0

In [7]:
len(marks)

3

# SET

In [9]:
marks = {95,96,97,98,98}
marks

{95, 96, 97, 98}

# DICTIONARY

1) VAlue stored in form of key and value

In [11]:
dict = {"english": 95, "chemistry": 98}
print(dict["chemistry"])

98

In [12]:
dict["Maths"] = 100
dict

{'english': 95, 'chemistry': 98, 'Maths': 100}

In [13]:
dict["english"] = 93

In [14]:
dict

{'english': 93, 'chemistry': 98, 'Maths': 100}

# FUNCTIONS

1) IN- Build Function

2) Module Function

3) User-Defined Function

def function_name(parameters):
  #do something

In [20]:
def print_sum(a,b=4):
    return a+b

a = 5
b = 2
print(print_sum(a))

9