In [1]:
n = int(input())
for i in range(0,n):
    for j in range(0,n):
        print("*" ,end =" ")
    print()

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [2]:
n = int(input())
for i in range(0,n):
    for j in range(0,n):
        print(i+1 ,end =" ")
    print()

5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [3]:
n = int(input())
for i in range(0,n):
    for j in range(0,n):
        print(j+1 ,end =" ")
    print()

5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [4]:
n = int(input())
for i in range(n,0,-1):
    for j in range(n,0,-1):
        print(i ,end =" ")
    print()

5
5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [5]:
n = int(input())
for i in range(n,0,-1):
    for j in range(n,0,-1):
        print(j ,end =" ")
    print()

5
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [6]:
n = int(input())
for i in range(1,n+1):
    for j in range(i,n+i):
        print(j ,end =" ")
    print()

5
1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8
5 6 7 8 9

In [7]:
n = int(input())
for i in range(1,n*n+1,5):
    for j in range(i,n+i):
        if(j < 10):
            print(" ",end ="")
        print(j ,end =" ")
    print()

5
 1  2  3  4  5
 6  7  8  9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [8]:
n = int(input())
for i in range(1,n*10+1,10):
    for j in range(i,10+i,2):
        if(j < 10):
            print(" ",end ="")
        print(j ,end =" ")
    print()

5
 1  3  5  7  9
11 13 15 17 19
21 23 25 27 29
31 33 35 37 39
41 43 45 47 49

In [9]:
n = int(input())
for i in range(2,n*10+1,10):
    for j in range(i,10+i,2):
        if(j < 10):
            print(" ",end ="")
        print(j ,end =" ")
    print()

5
 2  4  6  8 10
12 14 16 18 20
22 24 26 28 30
32 34 36 38 40
42 44 46 48 50

In [10]:
n = int(input())
for i in range(1,n+1):
    for j in range(i,n*i+1,i):
        if(j < 10):
            print(" ",end ="")
        print(j,end=" ")
    print()

5
 1  2  3  4  5
 2  4  6  8 10
 3  6  9 12 15
 4  8 12 16 20
 5 10 15 20 25

In [11]:
n = int(input())
for i in range(1,n+1):
    for j in range(1, n-1):
        print(j,i,end=" ")
    print()

5
1 1 2 1 3 1
1 2 2 2 3 2
1 3 2 3 3 3
1 4 2 4 3 4
1 5 2 5 3 5

In [12]:
n = int(input())
for i in range(1,n+1):
    for j in range(1, n-1):
        print(i,j,end=" ")
    print()

5
1 1 1 2 1 3
2 1 2 2 2 3
3 1 3 2 3 3
4 1 4 2 4 3
5 1 5 2 5 3

In [13]:
n = int(input())
for i in range(1,n+1):
    for j in range(i,i*n+i,i):
        if(j < 10):
            print(" ",end ="")
        print(j,end=" ")
    print()

5
 1  2  3  4  5
 2  4  6  8 10
 3  6  9 12 15
 4  8 12 16 20
 5 10 15 20 25

In [14]:
n = int(input())
for i in range (1,n+1):
    for j in range (i , n*5+1 , 5):
        if(j < 10):
            print(" ",end ="")
        print(j , end =" ")
    print()

5
 1  6 11 16 21
 2  7 12 17 22
 3  8 13 18 23
 4  9 14 19 24
 5 10 15 20 25

In [16]:
n = int(input())
a = 0
for j in range(1,6):
    for i in range (1,n+1):
        a = i
        print(i)
    print("\n")
    for k in range(a+5,a,-1):
        print(k)

5
1
2
3
4
5


10
9
8
7
6
1
2
3
4
5


10
9
8
7
6
1
2
3
4
5


10
9
8
7
6
1
2
3
4
5


10
9
8
7
6
1
2
3
4
5


10
9
8
7
6

In [ ]:
a = 1
b = 10

for()