In [ ]:
print("Once upon a book")

my_First_Book_Name = "E.balaguswami c++"
my_First_Book_Price = 350.0
my_Second_Book_Name = "OCA OCP Java"
my_Second_Book_Price = 250.75
my_Third_Book_Name = "Play with Python Sunita Arora"
my_Third_Book_Price = 450.29
my_Fourth_Book_Name = "The invisible Man"
my_Fourth_Book_Price = 150.07
my_Fifth_Book_Name = "Alchemist"
my_Fifth_Book_Price = 850.20

tax = 0.18
# menu = '''All Books
# First Book ''' + my_'First_Book_Name+''''''
menu = "all Book \n "+"Press 1 for First book"+"first book "+ my_First_Book_Name
+" Price: "+str(my_First_Book_Price) +" /n Press 2 for Second book"+"/nsecond Book: "
+my_Second_Book_Name + " Price :" + str(my_Second_Book_Price) 
+" /n Press 3 for Third book"+ "\n Third Book Name"+  my_Third_Book_Name+" Price: "
+str(my_Third_Book_Price) +" /n Press 4 for Fourth book"+"\n Fourth Book: "+my_Fourth_Book_Name +
" Price :" + str(my_Fourth_Book_Price) +" /n Press 5 for Fifth book"+
" \n Fifth Book: "+my_Fifth_Book_Name + 
" Price :" + str(my_Fifth_Book_Price)+"\n Press 6 to Checkout"

customer_Name = input("Enter user Name:")

books_amount = 0; 

books_selected = ""

while(true):
    print(menu)
    choice = int(input("Enter the choice"))
    if choice == 1:
        book_amount += my_First_Book_Price
        books_selected += my_First_Book_Name+"price: "+str(my_First_Book_Price)+"\n"

    elif choice == 2:
        book_amount += my_Second_Book_Name
        books_selected += my_Second_Book_Name+"price: "+str(my_Second_Book_Price)+"\n"

    elif choice == 3:
        book_amount += my_Third_Book_Name
        books_selected += my_Third_Book_Name+"price: "+str(my_Third_Book_Price)+"\n"

    elif choice == 4 :
        book_amount += my_Fourth_Book_Name
        books_selected += my_Fourth_Book_Name+"price: "+str(my_Fourth_Book_Price)+"\n"

    elif choice == 5:
        book_amount += my_Fifth_Book_Name
        books_selected += my_Fifth_Book_Name+"price: "+str(my_Fifth_Book_Price)+"\n"
    elif choice == 6:
        break
    else:
        print("Select the correct Choice")
        
bill = "Love for Books \n Customer Name: "+customer_Name+"\n"+books_selected+"\n Books Total: "+str(books_amount)+"\n Total Amount: "+str((books_Amount*tax)+books_amount)
print(bill)

In [ ]:
print(5*"aman")

In [ ]:
print("a"*5)

In [ ]:
print()

In [ ]:
l =[]
l.append(2)
l.append(1)
l.pop()
l.remove(2)
l.append(1)
l[0] = 3
l.append(2)
l.append(1)
l.append(2)
l.append(1)
l.append(2)
l.append(1)
print(l[::-1])
print (l)

In [ ]:
dict = {}
age = [19 ,70 ,20]
min_requirment = [3,1,2]
salary = [50000 ,100000 ,4000]
print(salary)
apple = 10
if (apple > 0): 
    for i in range (0,3):
        if (product[i] > min_requirment[i]):
            dict[product[i]] = min_requirment[i];
            apple -= min_requirment[i]

if (apple > 0):    
    for key, value in dict.items():
        dict[key] =value+1;
        apple -= 1

print(dict)

In [ ]:
n = int(input())
for i in range(1,n+1):
    for j in range (n-i):
        print(" ",end ="")
    for k in range (i-1):
        print("*_",end="")
    print("*")

In [ ]:
n = int(input())
for i in range(n*2-1,0,-1):
#     print(i)
    for j in range( i-1,0,-1 ):
#         print (j)
        if(i%2!=0):
            print("-",end ="")
        else:
            print("",end="")
    for k in range(n,i-n,-1):
#         print(k)
            print(chr(96+k),end="-")  

    print()

In [8]:
n = int(input())
for i in range(n*2-1,0,-1):

    a = (i-n)*2
    print(a*"-",end ="")
    
    if(i-n >= 0): 
        for k in range(n,i-n,-1):
            print(chr(96+k),end="-")  
        
 
    print()

5
--------e-
------e-d-
----e-d-c-
--e-d-c-b-
e-d-c-b-a-

In [8]:
n = int(input())
l=[]
for i in range(0,n):
    a = int(input())
    b = int(input())
    l.append([a,b])
print(l)

date = int(input())

overlap = 0
for event in l:
    if event[0] <= date and event[1] >=date:
        overlap = overlap + 1 
print(overlap)

3
29
31
23
26
24
25
[[29, 31], [23, 26], [24, 25]]
24
2

##

In [17]:
n = int(input())
m = int(input())
for i in range (0,n):
    for j in range (i,m):
        if(j==0 and i == 0) or (i==n-1 and j==m-1):
            i = 1
            j=1
            print(i,j,end="")
        else:
            i=0
            j=0
            print(i,j)

4
5
1 10 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0

In [44]:
l =input()
l =l.split(',')
m=int(l[0])
n=int(l[1])

List=[0]*n

List=[list(List) for i in range(m)]

for i in range(m):
    for j in range(n):
        if i==0 or j==0 or i==m-1 or j==n-1:
            List[i][j]=1
            
for i in List:
    print(i)

4,5
[1, 1, 1, 1, 1]
[1, 0, 0, 0, 1]
[1, 0, 0, 0, 1]
[1, 1, 1, 1, 1]

#####

In [55]:
n = int(input())
l=[]
for i in range(0,n):
    a = int(input())
    l.append(a)
print(l)
newList=[]
    
i = 0
flag = True
while(i < n):
    if l[i] >= l[n-1]:
        newList.append(l[i])
        i = i+1
    else:
        newList.append(l[n-1])
        n = n - 1

i = 1
while i < len(newList): 
    if(newList[i] > newList[i - 1]): 
        flag = False
        break;
    i += 1
      

if (flag) : 
    print ("Possible") 
else : 
    print ("Impossible")

6
5
4
2
1
4
5
[5, 4, 2, 1, 4, 5]
Possible

5//2

In [47]:
5//2

2

In [56]:
final_tower = input("enter:").split(",")
elements =[]
for i in final_tower:
    elements.append(int(i))
final_tower = 999
flag = True
while elements:
    if elements[0] >= elements[-1]:
        if(final_tower >= elements[0]):
            final_tower= elements[0]
            elements.pop(0)
        else:
            flag = False
            break
        
        
    else:
        if(final_tower >= elements[-1]):
            final_tower= elements[-1]
            elements.pop(-1)
        else:
            flag = False
            break

if(flag):
    print("Possible")
else:
    print("Impossible")

enter:5,4,2,1,4,5
Possible

In [25]:
s=input()

s =s.title()
a = list(s)

for i in range(0,len(a)):
    if(a[i] == " "):
        a[i] = "_"

c = ""
for i in range (0,len(a)):
    c += a[i]
print(c)

sadgi jakhar
Sadgi_Jakhar

In [1]:
L=[2, 3, 4, 2, 1, 2, 3]
print(L.index(2))

0

In [2]:
L = [2, 1, 2, 4, 5, 3, 6]
K = 4 in L

In [3]:
print(K)

True

In [4]:
L=[10,20,30,40,50,60,70,80,90,100]

L[1:-1:2]

[20, 40, 60, 80]

In [5]:
L[[1, 3, 5, 7]]

TypeError: list indices must be integers or slices, not list

In [6]:

L[1, 3, 5, 7]

TypeError: list indices must be integers or slices, not tuple

In [7]:
L[1::2]

[20, 40, 60, 80, 100]

In [8]:
[L[i] for i in range(1,9,2)]

[20, 40, 60, 80]

In [9]:
n=int(input())
x = int(input())
sum =0 ;
for i in range(0,n):
    sum += x + (10**i)
    
print(sum)

3
3
120

In [12]:
n = input()
s = 0
for i in range (1 , int(n)+1):
    s+=int(n*i)
print(s)

3
369

In [16]:
a = ['banana',7]
s1 = a[0].lower()
result = ''
diff = a[1]
for i in s1:
    val = ord(i)
    if val-diff < 97:
        x = 97 - val
        y = 122-x
        result += chr(x+y)
    else:
        result += chr(val-diff)

final_result = ''
for i in range(len(a[0])):
    if(a[0][i].isupper()):
        final_result += result[i].upper()
    else:
        final_result += result[i]

print(final_result)

zzgzgz

In [18]:
c= list(input())
a=""
b=""
for i in c:
    if(i.isalpha()):
        a+=i
    elif(i == '[' or i == ']' or i=='\'' or i==',' ):
        c.remove(i)
    elif(i.isnumeric):
        b+=i
b= int(b)

d="" 
for i in a:
    k = ord(i) - b 
    k=chr(k)
    d+=k
  

print(d)

['ytKveh', 4]
upGrad