In [ ]:
print("Once upon a book")

my_First_Book_Name = "E.balaguswami c++"
my_First_Book_Price = 350.0
my_Second_Book_Name = "OCA OCP Java"
my_Second_Book_Price = 250.75
my_Third_Book_Name = "Play with Python Sunita Arora"
my_Third_Book_Price = 450.29
my_Fourth_Book_Name = "The invisible Man"
my_Fourth_Book_Price = 150.07
my_Fifth_Book_Name = "Alchemist"
my_Fifth_Book_Price = 850.20

tax = 0.18
# menu = '''All Books
# First Book ''' + my_'First_Book_Name+''''''
menu = "all Book \n "+"Press 1 for First book"+"first book "+ my_First_Book_Name
+" Price: "+str(my_First_Book_Price) +" /n Press 2 for Second book"+"/nsecond Book: "
+my_Second_Book_Name + " Price :" + str(my_Second_Book_Price) 
+" /n Press 3 for Third book"+ "\n Third Book Name"+  my_Third_Book_Name+" Price: "
+str(my_Third_Book_Price) +" /n Press 4 for Fourth book"+"\n Fourth Book: "+my_Fourth_Book_Name +
" Price :" + str(my_Fourth_Book_Price) +" /n Press 5 for Fifth book"+
" \n Fifth Book: "+my_Fifth_Book_Name + 
" Price :" + str(my_Fifth_Book_Price)

customer_Name = input("Enter user Name:")

books_amount = 0;

books_selected = ""

while(true):
    print(menu)
    choice = int(input("Enter the choice"))
    if choice == 1:
        book_amount += my_First_Book_Price
        books_selected += my_First_Book_Name+"price: "+str(my_First_Book_Price)+"\n"

    elif choice == 2:
        book_amount += my_Second_Book_Name
        books_selected += my_Second_Book_Name+"price: "+str(my_Second_Book_Price)+"\n"

    elif choice == 3:
        book_amount += my_Third_Book_Name
        books_selected += my_Third_Book_Name+"price: "+str(my_Third_Book_Price)+"\n"

    elif choice == 4 :
        book_amount += my_Fourth_Book_Name
        books_selected += my_Fourth_Book_Name+"price: "+str(my_Fourth_Book_Price)+"\n"

    elif choice == 5:
        book_amount += my_Fifth_Book_Name
        books_selected += my_Fifth_Book_Name+"price: "+str(my_Fifth_Book_Price)+"\n"
    elif choice == 6:
        break
    else:
        print("Select the correct Choice")
        
bill = "Love for Books \n Customer Name: "+customer_Name+"\n"+books_selected+"\n Books Total: "+books_amount+"\n Total Amount: "+((books_Amount*tax)+books_amount)
print(bill)

In [ ]:
a = input()